@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

*{
  margin:0;
  padding:0;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --bgDarkSapphier: #0b245b;
  --bgSilverLake:#e1e0e0;
  --bgsnowDrift:#f9faf5;
  --bgCranberry:#9a073c;
}
.wrapper{
    padding: 0 9rem;
    overflow-x: hidden;
}
nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 10px;
}
nav .logo {
  font-size:3vw; 
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size:20px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--bgDarkSapphier);
  color:var(--bgsnowDrift);
  transition-duration: 200ms;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: var(--bgDarkSapphier);
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
  transform: rotate(45deg);
  margin-top: 18px;
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.1s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background:var(--bgDarkSapphier);
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: var(--bgsnowDrift);
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: var(--bgCranberry);
}

.hero-section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
}
.hero-section-heading{
  color: black;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
}

.hero-section-name{
    font-size: 50px;
    color: black;
    font-weight: 500;
}
.hero-section-name span{
  color: var(--bgCranberry);
  font-weight: 700;
  font-family: 'Moon Dance', cursive;
}

.role{
    color: var(--bgDarkSapphier);
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    color: grey;
}
.social-menu ul{
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 1.4rem;
    padding-left: 180px;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 20px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.btn-pink {
    background-color: var(--bgDarkSapphier);
    width: fit-content;
    color: var(--bgsnowDrift);
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px var(--bgSilverLake);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
    margin-top: 57px;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgDarkSapphier);
    color: black;
  }
  .hero-section-right{
    position:relative;
  }

  .absolute{
    position:absolute;
  }

  .user-image{
    padding:2.5rem;
    background-color: white;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    z-index:-9;
    height: 380px;
    width: 300px;
  }
  
  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);   
    }
    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }

  .blog-slider {
    width: 80%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px #4f5f83;
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
   }
 }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
   }
 }
  .blog-slider__item {
    display: flex;
    align-items: center;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
   }
 }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
 }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #778ec0 0%, #ffffff 74%);
    box-shadow: 4px 13px 30px 1px #a3b2d0;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
 }
  .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
 }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;

    border-radius: 20px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
   }
 }
  .blog-slider__content {
    padding-right: 25px;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
   }
   .iconlink{
      justify-content: center;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
   }
 }
  .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
 }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
 }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
 }
 .iconlink{
  margin-top: 2vh;
  display: flex;
  gap: 3vh;
}
.iconlink.a{
  text-decoration: none; 
  
}
#fa1{
  font-size: 30px;
  color: #1f1f1f;
  text-decoration: none;
  margin-top: 1vh;
}
#fa1:hover{
  color: var(--bgDarkSapphier);
  transition-duration: 0.3s;
}
#fa2{
  font-size: 30px;
  color: #1f1f1f;
  text-decoration: none;
  margin-top: 1vh;
}
#fa2:hover{
  color: var(--bgCranberry);
  transition-duration: 0.3s;
}
 
  @media screen and (max-width: 576px) {
 }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
 }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
 }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
   }
 }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #778ec0;
    opacity: 0.2;
    transition: all 0.3s;
 }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #9a073c;
    height: 30px;
    box-shadow: 0px 0px 20px #9a073c;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
   }
 } 
  
  .skills-container{
    position:relative;
    display:flex;
    padding:4rem;
    gap:30px;
    margin-top: 100px;
  }

.skill-container-left{
  width:50%;
  display:flex;
  flex-direction:column;
}

.skill-container-right{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  gap:2rem;
  justify-content: center;
}

.blob-style{
  position:absolute;
  top:50%;
  left:50%;
  z-index:-5;
  transform:translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
  50%{
    top:54%;
    left:46%;
  }
}

.skills-logo{
  width:90px;
  height: 90px;
  transition:all 0.5s;
}

.skills-logo:hover{
  transform:scale(1.2);
}

.skill-heading{
  font-size:50px;
  font-style: bold;
  color: var(--bgCranberry);
  line-height: 50px;
}

.caps{
  font-size:90px;
}

.skill-subHeading{
  margin-top: 1rem;
  width:85%;
  text-align: justify;
}

.skill-subHeading p{
  margin:15px 0;
}
h1{
  margin:50px 0;
  font-size:40px;
  text-align:center;
  color: var(--bgDarkSapphier);
}
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:80%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:var(--bgCranberry);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:var(--bgCranberry);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:var(--bgCranberry);
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:var(--bgCranberry);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:var(--bgCranberry);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
    margin-left: -10px;
  }
}
.contactus-form-container{
    width:100%;
    background-color: var(--bgSilverLake);
  }
  
  .contactus-heading{
    font-size:6vw;
    color:var(--bgsnowDrift);
    margin-left: -610px;
    margin-top: -24px;
  }
  
  .contactus-sub-heading{
    font-size:3rem;
    margin-left: 10px;
    color:var(--bgDarkSapphier);
    text-transform: capitalize;
  }
  
  .contactus-form-container{
    margin-top:25px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .form{
    display:flex;
    flex-direction: column;
    gap:30px;
    width:70%;
    margin: 2rem 5rem;
  }
  
  .formfield-container{
    width:100%;
  }
  
  .formfield{
    width:100%;
    height:42px;
    padding: 0 2rem;
    font-size:18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight:500;
    border:none;
    margin-top:27px;
  }
  
  .formfield-textarea{
    height:auto;
    padding-top:1rem;
    resize: none;
  }
  
  #submit-btn{
    border:none;
    font-size: 1.4rem;
    margin: 1rem 0;
    background-color: var(--bgCranberry);
  }
  
  #submit-btn:hover{
    scale:0.9;
  }
  
  .submit-icon{
    padding:0 1rem;
    font-size:1.5rem;
  }
  
  footer{
    background-color: var(--bgDarkSapphier);
    gap: 4px;
  }
  
  .footer-wrapper{
    display: flex;
    padding:3rem;
    justify-content: space-between  ;
    align-items:center;
  }
  .last{
    color: grey;
    font-size: large;
  }
  .item1{
    display: flex;
    gap: 1rem;
    color: var(--bgSilverLake);
    align-items: center;
    padding-bottom: 1rem;
  }
  .link-wrapper{
    display:flex;
    gap:1.2rem;
  }
  
  .link-wrapper div a{
    color:white;
    text-decoration:none;
    transition:all 0.6s;
  }
  
  .link-wrapper div a:hover{
    color:var(--bgCranberry);
  }
  
  .icon-wrapper{
    display:flex;
    gap:1rem;
  }
@media screen and (max-width: 1108px) {
    .wrapper{
        padding: 10%;
      }
}
@media screen and (max-width: 768px) {
    .wrapper{
        padding: 0 0;
      }
     nav .logo{
      margin-left: 20px;
      font-size: x-large;
     } 
     .hero-section{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      top: -25px;
     }
     .hero-section-left{
      max-width: 400px;
      margin-top: -30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
     .social-menu ul {
      margin-top:10px;
      padding: 0;
  }
    .hero-section-name{
      font-size: 35px;
      color: black;
      font-weight: 400;
    }
    .hero-section-sub-heading{
      font-size: 20px;
      line-height: 15px;
    }
    .hero-section-description{
      margin-top: 0.3rem;
      width: 90%;
      text-align: center;
      font-weight: 400;
      color: grey;
    }  
    .btn-pink {
      margin: 0;
      margin-top: 35px;
      padding: 0.5rem 1.2rem;
    }
    .user-image{
      border-radius: 100%;
      object-fit: cover;

    }
   .user-image img{
    border-radius: 100%;
    height: 170px;
    width: 170px;
    
    }
    .hamburger {
      display: block;
      user-select: none;
    }
    nav ul {
      display: none;
    }
    #skills{
        display: flex;
        flex-direction: column;
        margin-top: -150px;
      }
      .skill-container-left{
        align-items: center;
        width: 100%;
      }
      .skill-subHeading{
        width: 100%;
      }
      .skill-heading{
        margin-left: -100px;
        font-size: 30px;
      }
      .caps{
        font-size: 50px;
      }
      .skill-container-right{
        width: 100%;
        position:relative;
        gap:2rem;
      }
      .blob-style{
       height: 200px;
      }
      .skills-logo{
        width:60px;
        height: 60px;
        transition:all 0.5s;
      }
      .footer-wrapper{
        display: flex;
        flex-direction: column;
        gap:2rem;
      }
      .contactus-heading{
        color:#ffff;
        font-size: 30px;
        margin-left: -180px;
        margin-top: -13px;
      }
      .contactus-sub-heading{
        font-size: 30px;
      }
      
}
